body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: lightseagreen;
}

footer.page-footer {
  background-color: lightseagreen;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

#main-container {
  padding-top: 20px;
}

.medium-icon {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.seperator {
  padding-left: 20px;
}

.space-surrounding {
  margin: 5px;
}

#about-profile-image {
  max-width: 350px;
  min-width: 100px;
}

.normal-paragraph-text {
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;
}

.project-card {
  max-height: 400px;
  min-height: 400px;
  margin-bottom: 60px;
}

.blog-list-card {
  padding-top: 5px;
  padding-bottom: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.collapsible {
  margin: 0;
}

div.collection, ul.skill-collection {
  margin: 0;
  padding: 0;
}

div.row div.col.collection {
  padding: 0;
}

.sidenav-overlay {
  left: 300px;
}
